footer
  .container
    .sec.aboutus
      h2 About Us
      p
        | We are Vivid Physics and we are on a mission to simplify physics for competitive exams like JEE and NEET. We believe physics is an easy subject and can be fun to learn.
      ul.sci
        li
          a(href='https://t.me/vivid_physics_official' target='_blank')
            i.fa-brands.fa-telegram
        li
          a(href='https://www.instagram.com/vivid_physics_official' target='_blank')
            i.fa-brands.fa-instagram
        li
          a(href='https://www.youtube.com/@vivid.physics.official' target='_blank')
            i.fa-brands.fa-youtube
    .sec.quickLinks
      h2 Quick Links
      ul
        li
          a(href='#') About Us
        li
          a(href='#') FAQ
        li
          a(href='/book/HCV') HCV Solutions
        li
          a(href='/') Samarpan Batch
        li
          a(href='https://drive.google.com/drive/folders/1R4yrIeljijqrNqtL0X1EOA9Q8-x1JIHl?usp=drive_link') Practice sheets
    .sec.resources
      h2 Resources
      ul
        li
          a(href='https://drive.google.com/drive/folders/1R4yrIeljijqrNqtL0X1EOA9Q8-x1JIHl?usp=drive_link') Practice sheets
        li
          a(href='https://drive.google.com/drive/folders/1R4yrIeljijqrNqtL0X1EOA9Q8-x1JIHl?usp=drive_link') Practice paper
.copyright
  p Copyright &copy; 2024 Vivid Physics. All rights reserved
