header
  a(href="/")
    .logo
      img(src='/images/favicon.png' width='50px')
      | Vivid Physics
  nav#navbar
    ul
      li
        a(href='/') Home
      li.sub-menu
        a(href='#') Courses
        ul
          li
            a(href='/') Samarpan Batch
      li
        a(href='/dpp/Samarpan') DPP Solutions
      li
        a(href='https://drive.google.com/drive/folders/1R4yrIeljijqrNqtL0X1EOA9Q8-x1JIHl?usp=drive_link') DPPs and SHEETs
      li.sub-menu
        a(href='#') Book Solutions
        ul
          li
            a(href='/book/HCV') HCV
          li
            a(href='#') DCP
      li
        a(href='#') About us
  .menubar
    i.fa-solid.fa-bars(onclick='handleBar(event)')
