doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link.js-favicon(rel='icon' href='/images/favicon.png')
  // <link rel="stylesheet" href="./css/fontawesome.css">
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css' integrity='sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='/css/style.css')
  title Vivid Physics
body
  include _header
  main(style="padding-top: 50px;" id="aboutmain")
    h2
      | About Vivid Physics
    p
      | At Vivid Physics, we are on a mission to demystify physics for competitive exams like JEE and NEET. We believe that physics is not only easy but also fun to learn. Our expert faculty, who have excelled in JEE Mains and are currently pursuing engineering at NIT Jaipur, bring unparalleled expertise to our program. With extensive experience from both online and offline coaching, they embody the highest standards of competence and dedication, ensuring that every student can conquer physics with confidence and enthusiasm.
    h2 
      | About Jatin Khatri 
    p 
      | Jatin Khatri, the visionary founder and director of Vivid Physics, has transformed the landscape of competitive exam preparation. Drawing from extensive hands-on experience at various prestigious institutions, he has mastered the art of training students for high-stakes exams like NEET and JEE. His outstanding achievements in physics in both JEE Mains and Advanced are a testament to his expertise and dedication. With Vivid Physics, Jatin embarked on a mission to dispel the pervasive fear of physics among students. His unwavering belief that everyone can grasp and apply physics concepts has inspired many students to overcome their anxieties and excel in the subject.



  include _footer
script(src='/js/script.js')
